html body {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.75);
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
}

footer p {
    text-align: center;
    font-size: 1rem;
}

.grid-container-time {
    display: grid;
    grid-template-columns: 5rem 5rem 5rem 5rem;
    grid-template-rows: 1fr 2fr;
    justify-content: center;
    grid-gap: 0.5rem;
    background-color: #123a05;
    padding: 0.5rem;
    text-align: center;
    width: calc(5rem*4 + 0.5rem*3);
    margin: auto;
    border-radius: 1rem;
}

div p {
    margin: 0;
    background-color: #2a8d12;
    border-radius: 1rem;
    font-size: 100%;
    vertical-align: middle;
}

.time {
    font-size: 2rem;
    border-radius: 0.75rem;
}