body {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.75);
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
}

footer p {
    text-align: center;
    font-size: 1rem;
}